.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .search-form div {
    display: flex;
    align-items: center;
  }
  
  .search-form label {
    margin-right: 10px;
  }
  
  .search-dropdown {
    margin-right: 20px;
    padding: 5px;
  }
  
  .search-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }