.all {
    width: 100%;
}
.main-container{
    display:flex;
    flex-direction:row;

}
.sidebar{
    flex-grow:1;
   
   
}
.bug-list {
    flex-basis: 80%;
    width: 100%;
    padding-left:50px;
    padding-right:50px;

}

.bug-list h2 {
    margin: 10px;
    text-align: center;
    color: #333;
}

.bug-list table {
    width: 100%;
    border-collapse: collapse;

}

.bug-list th, 
.bug-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.bug-list tr:nth-child(even) {
    background-color:#DDF2FD;
}

.bug-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#9BBEC8;
    color: black;
}
