table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: #ecf0f1;
}

td {
    background-color: #fff;
}


td.priority-low {
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
}

td.priority-medium {
    margin-top: 20px;
    background-color: #f39c12;
    color: #fff;
}

td.priority-high {
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
}

.edit,
.delete {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

.edit i,
.delete i {
    margin-right: 5px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
  }

.add-bug-btn {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-bug-btn i {
    margin-right: 5px;
}
.add-bug-btn:hover {
    background-color:white;
    color:black; 
  }

.center-text {
    text-align: center;
}

@media (min-width: 768px) {
    .section-buglist {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}