.dashboard {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-cards {
  display: flex;
  justify-content: space-around;

  
}
.dashboard-charts {
  display: flex;
  justify-content: space-around;
}
.pie-chart {
  height: 300px;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.bar-chart {
  height: 300px;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
}